body {
  background-color: #632b80;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

input {
    background-color: #632b80;
    color: #ffffff;
    border-radius: 100px;
}

button {
    background-color: #632b80;
    color: #ffffff;
    border-radius: 100px;
}

a {
  color: #ffffff;
}

a.article {
    color: #632b80
}

.card {
  background-color: grey;
  color: #000000;
  width: 600px;
  border-radius: 100px;
  margin: auto;
  box-shadow: 10px 10px 5px 6px #3c2747;
}


.title {
    font-size: 1.5em;
}

.description {
    font-size: 1.25em;
}